*{background-color: #e0ddd5}
h1 {
text-shadow: 0 0 2px #00e9ff, 0 0 3px #0088ff;
    color: #283d70;
    font-family: Luminari, fantasy;   

}
h2 {
    color: #2e3546;
    font-family: Luminari, fantasy;   
}
p {
  display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    color: #703529;
    background-color: #c6934b;
    border: 5px solid #283d70;
    font-family: Georgia, serif;
}
ul {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    color: #703529;
    background-color: #c6934b;
    border: 5px solid #283d70;
    font-family: Georgia, serif;
}
li {
      display: flex;
    flex-direction: column;
    color: #703529;
    background-color: #c6934b;
    font-family: Georgia, serif;
}